# macOS: link SDL2 statically via homebrew; link OpenGL framework
@if macosx:
  dynlibOverride = "SDL2"
  passL = "-L/opt/homebrew/lib -lSDL2 -framework OpenGL"
  passC = "-DCIMGUI_USE_OPENGL3 -I/opt/homebrew/include/SDL2"
@end

@if linux:
  passL = "-lGL"
  passC = "-DCIMGUI_USE_OPENGL3"
@end
